.footer {
  background-color: var(--background);
  border-top: 1px solid var(--light-gray);
  bottom: 0;
  display: flex;
  min-height: fit-content;
  padding: var(--u3) 0;
  width: 100%;
  box-sizing: border-box;
}

.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: var(--u2);
}

.footer p {
  margin: 0;
  flex-shrink: 0;
}
